<div class="row singleProduct">
  <div class="col-xs-12">
    <div class="media">
      <%= render 'media_image', product: product %>
      <%= render 'media_body',  product: product %>
    </div>
  </div>
</div>
