<% provide(:title, @product.name ) %>
<!-- LIGHT SECTION -->
<%= render 'shared/product_bar', title_name: @product.name, active_name: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'single_product', product: @product %>
    <%= render 'products_content', object_products: @related_products %>
  </div>
</section>
