<div class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <%= render 'shared/products_slider', object_products: object_products %>
</div>
