<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>人気カテゴリー</h4>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='/potepan/categories/6';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
        <div class="masking"><a href="/potepan/categories/6" class="btn viewBtn">View Shirts</a></div>
      </div>
      <div class="caption">
        <h4>Shirts</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='/potepan/categories/3';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
        <div class="masking"><a href="/potepan/categories/3" class="btn viewBtn">View Bags</a></div>
      </div>
      <div class="caption">
        <h4>Bags</h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class="thumbnail" onclick="location.href='/potepan/categories/4';">
      <div class="imageWrapper">
        <%= image_tag("home/featured-collection/featured-collection-04.jpg", :alt => "feature-collection-image") %>
        <div class="masking"><a href="/potepan/categories/4" class="btn viewBtn">View Mugs</a></div>
      </div>
      <div class="caption">
        <h4>Mugs</h4>
      </div>
    </div>
  </div>
</div>
